#toolbar {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: grey;
  color: white;
}

#toolbar button {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: burlywood;
  color: black;
  font-size: 20px;
}
#canvas {
  border: 2px dotted red;
  background: url("./shapePics/background.jpg");
}

.shapeIcon {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 3px dashed black;
}

.shape-img.active{
  border: 3px dashed red;
}

#shapes {
  border: 1px solid green;
  /* display: inline-block; */
  float: right;
  margin-right: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
};

#square {
  /* background-image: url("./shapePics/orangesquare.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#triangle {
  /* background-image: url("./shapePics/greentriangle.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#skinny {
  /* background-image: url("./shapePics/browndiamond.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#diamond {
  /* background-image: url("./shapePics/bluediamond.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#trapezoid {
  /* background-image: url("./shapePics/red4sides.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#hexagon {
  /* background-image: url("./shapePics/hexagon.png"); */
  background-repeat: no-repeat;
  background-position: center;
}

.shape-img {
  max-width: 100%;
  max-height: 100%;
}

