#toolbar {
  z-index: 2;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  color: white;
  font-family: 'Finger Paint', cursive;
   font-size: 100px;
   letter-spacing: -9px;
   height: 0;
   width: 60%;
}


#toolbarbox {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
};

#toolbar p span {
  z-index: 2;
  font-size: 100px;
  font-family: 'Finger Paint', cursive;
}


#title{
  background-position: center;
  background-image: url(".././shapePics/streak.png");
  background-repeat: no-repeat;
  z-index: 2;
  margin-top: 10px
};


.buttonbox {
  z-index: 2;
}

.clear-canvas {
  text-align: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: burlywood;
  color: black;
  font-size: 20px;
  display: inline-block;
  position: fixed; 
  margin-top: 20%;
  margin-left: 3%; 
  z-index: 2;
}

.info {
  text-align: center;
  margin-top: 10%;
  position: fixed;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 40px;
  margin-left: 3%;
  background: black;
  color: white;
  display: inline-block;
  z-index: 2;
}

.clear-canvas:hover {
  cursor: pointer;
}

#canvas {
  /* border: 2px dotted red; */
  z-index: 1;
  background: url(".././shapePics/background.jpg");
  position: fixed;
}

.shapeIcon {
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 3px dashed black;
}

.shape-img.active{
  border: 3px dashed red;
}


.how-to {
  z-index: 2;
 font-size: 60px;
  text-align: center;
  font-family: 'Finger Paint', cursive;
  /* text-decoration: underline; */
  color: ivory;
}


.toolbox {
  z-index: 2;
  display: flex;
  /* width: 100%; */
  height: 100%;
  justify-content: flex-end;
  margin-right: 3%;
}

#shapes {
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* display: inline-block; */
  float: right;
  margin-right: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  position: fixed;
};

#square {
  /* background-image: url("./shapePics/orangesquare.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#triangle {
  /* background-image: url("./shapePics/greentriangle.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#skinny {
  /* background-image: url("./shapePics/browndiamond.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#diamond {
  /* background-image: url("./shapePics/bluediamond.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#trapezoid {
  /* background-image: url("./shapePics/red4sides.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
#hexagon {
  /* background-image: url("./shapePics/hexagon.png"); */
  background-repeat: no-repeat;
  background-position: center;
}

.shape-img {
  max-width: 100%;
  max-height: 100%;
}


.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.logos {
  z-index: 2;
}

.linkedin-logo {
  
}

.modal-content {
  z-index: 2;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  background: mediumseagreen;
  border-radius: 20px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list {
  text-align: center;
    font-size: 25px;
    background: beige;
    line-height: 2;
    font-family: monospace;
    border-radius: 20px;
}